* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: $black;
  color: #fff;
  user-select: none;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
}

button, div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button, input, textarea, select {
  border: none;
  outline: none;
  border-radius: 0;
}

input {
  padding-left: 16px;
  font-size: 16px;
  border-radius: 0;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;

  @media (max-width: $mobile) {
    padding: 0 16px;
  }
}

.error-text {
  color: $red;
  font-size: 16px;
}
