$brand: #1771F1;
$blue: #1771F1;
$red: #DD4646;
$green: #1ab256;
$black: #000000;
$dark: #131313;
$dark-2: #1f1f1f;
$grey: #4f4f4f;
$light-grey-1: #646464;
$light-grey-2: #858585;
$light-grey-3: #adadad;
